.container {
  margin: 3rem auto;
  max-width: 800px;
}

.header {
  margin-bottom: 1.5rem;
}

.headerTitleLink {
  text-shadow: none;
  background-image: none;
}

.headerTitle {
  display: inline;
}

.headerList {
  list-style: none;
  float: right;
}